// Variables
//
// Sass variables were used in several css files to simplify redundent calls.
//
// Styleguide Variables

// SCSS Foreground and Background Variables
//
// Colors we use for higlighting states.
//
// $urlBackground - "https://sites.ewu.edu/dss/files/2018/10/scott-webb-282338-unsplash.jpg"; Background from School Site
// $unintensiveWhite - #fff; Less Strong White
// $backgroundColor - #fff; Less Strong White
// $userButtonColor - #17a2b8; Hospital Color Green/Blue
// $primaryColor - 	#DC143C; School Color Red (Crimson)
// $darkerPrimaryColor - #bb1133; Darker Shade of School Color
//
// Styleguide Variables.colors

$urlBackground: "https://sites.ewu.edu/dss/files/2018/10/scott-webb-282338-unsplash.jpg";
$unintensiveWhite: #fff;
$backgroundColor: $unintensiveWhite;
$userButtonColor: #17a2b8;
$primaryColor: #DC143C;
$darkerPrimaryColor: #bb1133;